# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- The capabilities of R and its uses in Data Science.

- The RStudio interface for running R codes. 

- Popular R packages for Data Science.

- Popular data visualization packages in R.

- Plotting with the inbuilt R plot function.

- Plotting with ggplot.

# Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL
4. Java
5. Julia
6. Scala
7. JavaScript
8. Swift

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Keras
4. SciKit-Learn
5. PyTorch

| Data Science Tools |
|--------------------|
|RStudio.|
|Apache Spark.|
|TensorFlow.|

#  Introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Rohit Sasane